extends ./layout.jade
block content
  h1= show.name

  for episode in show.episodes
    h2= episode.name
    p= episode.description
    p
      strong= episode.score
    form(action="/vote", method="POST")
      input(type="hidden", name="episode_id", value=episode.id)
      input(type="hidden", name="show_id", value=show.id)
      input(type="hidden", name="direction", value="1")
      input(type="submit", value="Watch")
    form(action="/vote", method="POST")
      input(type="hidden", name="episode_id", value=episode.id)
      input(type="hidden", name="show_id", value=show.id)
      input(type="hidden", name="direction", value="-1")
      input(type="submit", value="Skip")
